body {
    display: flex;
}
/* #sideMenu {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height:700px;    
} */

#sideMenu {
    border: 1px solid red;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 60px;
}

.icons {
    width: 30px;
    filter: invert();
}

#container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    border: 1px solid blue;
}

#mainBoard {
    display: flex;
    border: .5px solid rgb(200 200 200);
    flex-direction: column;
    align-items: stretch;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorOn{
    background-color: black;
}